@import "../../styles/constants";

.headers {
    display: block;
    z-index: 1;

    &_background {
        background: linear-gradient(to bottom, lighten(@main-background-color, 70), @main-background-color);
    }

    &__wrapper {
        padding-top: 25px;
    }

    &__label {
        margin: 0;
    }

    &__icon-wrapper {
        display: flex;
        justify-content:flex-start;
        padding-right: 40px;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        i {
            font-size: 35px;
            color: #000000;
        }
    }

    &__contacts_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__contacts_text {
        min-width: 150px;

        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
        }
    }

    &__contacts_btn {
        padding-left: 15px;

        a {
            text-align: center;
            border-radius: 20px;
            font-size: 16px;
            margin: 0 auto;
            padding: 11px;
        }
    }

    &__row_btn {
            a {
                display: flex;
                text-align: center;
                border-radius: 20px;
                font-size: 16px;
                margin: 0 auto;
                padding: 5px;
                min-height: 55px;
                justify-content: center;
                align-items: center;
            }
     }

    &__svg-wrapper {
        position: relative;
    }

    &__svg {
        height: 100%;
        width: 100%;
    }

    &_svg_container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20px;
        z-index: 2;
    }
}

@import "./Headers.tablet.less";
